.form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgotPasswordButton {
    margin-top: 5%;
    font-size: 14px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .forgotPasswordButton:hover {
    text-decoration: underline;
  }
  
  .submitButton {
    margin-top: 30px;
    gap: 20px;
    background-color: #FFA31A;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    width: 250px;
    height: 50px;
  }

  .submitButton:hover {
    background-color: #1B1B1B;
  }

  .errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    background-color: #ffe6e6;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    width: 100%;
  }

  input {
    margin: 10px 0;
    padding: 10px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
