.container {
    width: 100%;
    height: 100%;
  }
  
  .title {
    margin-top: 1%;
  }
  
  .title h1 {
    text-align: center;
    font-size: 2.5rem;
    height: 120px;
  }
  
  .title img {
    position: relative;
    top: 35px;
    width: 210px;
    padding-left: 10px;
  }
  
  .title p {
    text-align: center;
    font-size: 1.1rem;
    font-style: oblique;
    color: darkgrey;
  }
  
  .background {
    position: absolute;
    width: 50%;
    margin-left: 2%;
  }
  
  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45%;
    margin-top: 7%;
  }

  .toggleButtons {
    display: flex;
    justify-content: center;
  }
  
  .button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .loginButton {
    background-color: #FFA31A;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 200px;
    height: 40px;
  }
  
  .registerButton {
    background-color: #FFA31A;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; 
    width: 200px;
    height: 40px;
  }
  
  .active {
    background-color: #1B1B1B;
    color: white;
  }
  